a {
  text-decoration: none;
}

.rowux {
  width: 100%;
  *zoom: 1;
}
.rowux:before, .rowux:after {
  content: " ";
  display: table;
}
.rowux:after {
  clear: both;
}

.responsvux {
  width: 25%;
  float: left;
}

.tumbnailux {
  padding: 0 6px;
  *zoom: 1;
}
.tumbnailux:before, .tumbnailux:after {
  content: " ";
  display: table;
}
.tumbnailux:after {
  clear: both;
}

.dateresux {
  height: 52px;
  background: #ea7d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.dateresux a {
  color: #fff;
}

.dateresux-image a {
  position: relative;
  height: auto;
  display: block;
  background: red;
  *zoom: 1;
}
.dateresux-image a:before, .dateresux-image a:after {
  content: " ";
  display: table;
}
.dateresux-image a:after {
  clear: both;
}
.dateresux-image img {
  display: inline;
  object-fit: cover;
  height: auto;
  width: 100%;
  vertical-align: middle;
}
.dateresux-image .descconux {
  position: absolute;
  bottom: 0;
  display: block;
  background: #000;
  color: #fff;
  padding: 15px;
  opacity: 0.7;
}

.dateresux-action {
  overflow: hidden;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dateresux-action a:link{
 text-decoration:none;
}

.dateresux-action .btnux {
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: #4b4b4b;
  background-image: -moz-linear-gradient(top, #5a5a5a, #343434);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#343434));
  background-image: -webkit-linear-gradient(top, #5a5a5a, #343434);
  background-image: -o-linear-gradient(top, #5a5a5a, #343434);
  background-image: linear-gradient(to bottom, #5a5a5a, #343434);
  border-color: #343434 #343434 #0e0e0e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media only screen 
and (min-width : 500px) 
and (max-width : 800px) 
{
    a {
  text-decoration: none;
	}

	.rowux {
	  width: 100%;
	  *zoom: 1;
	}
	.rowux:before, .rowux:after {
	  content: " ";
	  display: table;
	}
	.rowux:after {
	  clear: both;
	}

	.responsvux {
	  width: 25%;
	  float: left;
	}

	.tumbnailux {
	  padding: 0 6px;
	  *zoom: 1;
	}
	.tumbnailux:before, .tumbnailux:after {
	  content: " ";
	  display: table;
	}
	.tumbnailux:after {
	  clear: both;
	}

	.dateresux {
	  height: 52px;
	  background: #ea7d3c;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  font-weight: bold;
	  color: #fff;
	}
	.dateresux a {
	  color: #fff;
	}

	.dateresux-image a {
	  position: relative;
	  height: auto;
	  display: block;
	  background: red;
	  *zoom: 1;
	}
	.dateresux-image a:before, .dateresux-image a:after {
	  content: " ";
	  display: table;
	}
	.dateresux-image a:after {
	  clear: both;
	}
	.dateresux-image img {
	  display: inline;
	  object-fit: cover;
	  height: auto;
	  width: 100%;
	  vertical-align: middle;
	}
	.dateresux-image .descconux {
	  position: absolute;
	  bottom: 0;
	  display: block;
	  background: #000;
	  color: #fff;
	  padding: 15px;
	  opacity: 0.7;
	}

	.dateresux-action {
	  overflow: hidden;
	  -webkit-border-bottom-right-radius: 10px;
	  -webkit-border-bottom-left-radius: 10px;
	  -moz-border-radius-bottomright: 10px;
	  -moz-border-radius-bottomleft: 10px;
	  border-bottom-right-radius: 10px;
	  border-bottom-left-radius: 10px;
	}

	.dateresux-action a:link{
	 text-decoration:none;
	}

	.dateresux-action .btnux {
	  display: block;
	  text-align: center;
	  padding: 10px;
	  color: #fff;
	  background-color: #4b4b4b;
	  background-image: -moz-linear-gradient(top, #5a5a5a, #343434);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#343434));
	  background-image: -webkit-linear-gradient(top, #5a5a5a, #343434);
	  background-image: -o-linear-gradient(top, #5a5a5a, #343434);
	  background-image: linear-gradient(to bottom, #5a5a5a, #343434);
	  border-color: #343434 #343434 #0e0e0e;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
}

@media only screen 
and (min-width : 1200px) 
{
  .bwh{
    margin-bottom: 40px;
  }

  .bwhux{
    margin-bottom: 20px;
  }

  .dateresux-action a:link{
 text-decoration:none;
	}
}


@media only screen
and (max-width : 500px) 
{
	.bwh{
		margin-bottom: 40px;
	}
}

@media only screen 
and (min-width : 250px) 
and (max-width : 500px) 
{
	a {
	text-decoration: none;
	}
	.rowux {
	  width: 100%;
	  *zoom: 1;
	}
	.rowux:before, .rowux:after {
	  content: " ";
	  display: table;
	}
	.rowux:after {
	  clear: both;
	}

	.responsvux {
	  width: 100%;
	  float: left;
	}

	.tumbnailux {
	  padding: 0 6px;
	  *zoom: 1;
	}
	.tumbnailux:before, .tumbnailux:after {
	  content: " ";
	  display: table;
	}
	.tumbnailux:after {
	  clear: both;
	}

	.dateresux {
	  height: 52px;
	  background: #ea7d3c;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  font-weight: bold;
	  color: #fff;
	  margin-top: 40px;
	}
	.dateresux a {
	  color: #fff;
	}

	.dateresux-image a {
	  position: relative;
	  height: auto;
	  display: block;
	  background: red;
	  *zoom: 1;
	}
	.dateresux-image a:before, .dateresux-image a:after {
	  content: " ";
	  display: table;
	}
	.dateresux-image a:after {
	  clear: both;
	}
	.dateresux-image img {
	  display: inline;
	  object-fit: cover;
	  height: auto;
	  width: 100%;
	  vertical-align: middle;
	}
	.dateresux-image .descconux {
	  position: absolute;
	  bottom: 0;
	  display: block;
	  background: #000;
	  color: #fff;
	  padding: 15px;
	  opacity: 0.7;
	}

	.dateresux-action {
	  overflow: hidden;
	  -webkit-border-bottom-right-radius: 10px;
	  -webkit-border-bottom-left-radius: 10px;
	  -moz-border-radius-bottomright: 10px;
	  -moz-border-radius-bottomleft: 10px;
	  border-bottom-right-radius: 10px;
	  border-bottom-left-radius: 10px;
	}

	.dateresux-action a:link{
	 text-decoration:none;
	}

	.dateresux-action .btnux {
	  display: block;
	  text-align: center;
	  padding: 10px;
	  color: #fff;
	  background-color: #4b4b4b;
	  background-image: -moz-linear-gradient(top, #5a5a5a, #343434);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#343434));
	  background-image: -webkit-linear-gradient(top, #5a5a5a, #343434);
	  background-image: -o-linear-gradient(top, #5a5a5a, #343434);
	  background-image: linear-gradient(to bottom, #5a5a5a, #343434);
	  border-color: #343434 #343434 #0e0e0e;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
}